*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
}
.titul{
	font-family: 'Manrope-ExtraBold';
	font-size: 48px;
	line-height: 64px;
	padding: 80px 0 48px 0;
}
.block-shell-top{
	padding-bottom: 80px; 
	vertical-align: top;
}
.block-shell-bot{
	vertical-align: top;
}

.block{
	display: inline-block;
	width: 45.046%;  /*Знаю что нежелательно использовать тысячные и т.д., но так идеально получилось 500px, что не смог удержаться. В конце-концов тема адаптива*/
}
.block img{
	width: 100%;
}
.block-left{	
	margin-right: 9.552%;
}
.block-text-regular{
	width: 100%;
	font-family: 'Manrope-Regular';
	font-size: 28px;
	line-height: 40px;
	padding-bottom: 24px;
}
.bold{
	font-family: 'Manrope-Bold';
}
.block-basement{
	width: 100%;
	padding-top: 20px;
	text-align-last: justify;
}
.block-text-under{
	display: inline-block;
	font-family: 'Manrope-ExtraBold';
	text-transform:uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	line-height: 18px;
}
.button{
	padding: 10px 18px;
	border: 0;
	border-radius: 100px;
	background-color: #8C30F5;
	color: #ffffff;
	outline: none;
	cursor: pointer;
}

@media screen and (max-width: 1440px){
	.block-left{
		margin-right: 9.15%;
	}
}
@media screen and (max-width: 1110px){
	.block-left{
		margin-right: 9.2%;
	}
}
@media screen and (max-width: 654px){
	.block-left{
		margin-right: 9%;
	}
	.button{
		display: block;
	}
	.block-basemen{
		text-align-last: auto;
	}
	.block-shell-top{
		padding-bottom: 40px;
	}
}
@media screen and (max-width: 434px){
	.block img{
		width: 100%;
	}
	.block-left{
		margin-right: 0;
	}
	.block{
		width: 100%;
		display: block;
		margin-bottom: 25px;
	}
	.button{
		margin: 15px 0;
		padding: 15px 40px;
	}
	.block-shell-top{
		padding-bottom: 0;
	}
}

/*Прописать размеры текста для медиа*/