@font-face {
    font-family: 'Manrope-Bold';
    src: local('Manrope-Bold'),
        url('Manrope-Bold.woff2') format('woff2'),
        url('Manrope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-ExtraBold';
    src: local('Manrope-ExtraBold'),
        url('Manrope-ExtraBold.woff2') format('woff2'),
        url('Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: local('Manrope-Regular'),
        url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}